.label {
  composes: fontBody from '../../../globalStyles/Typography.module.css';
  cursor: pointer;
  align-items: center;
  display: flex;
  font-size: var(--checkboxFontSize, 12px);
  color: var(--green);
}

.checkbox:disabled + .label {
  cursor: default;
  opacity: 0.6;
}

.inline {
  display: inline-block;
}

.checkbox {
  left: -9999px;
  opacity: 0;
  position: absolute;
}

.hidden {
  left: -9999px;
  opacity: 0;
  position: absolute;
}

.input {
  background-repeat: no-repeat;
  display: inline-block;
  height: var(--checkboxHeight, 26px);
  vertical-align: middle;
  width: var(--checkboxHeight, 26px);
  color: var(--green);
}

.checked {
  background-repeat: no-repeat;
  display: block;
  height: calc(var(--checkboxHeight, 26px) - 6px);
  width: calc(var(--checkboxHeight, 26px) - 6px);
  margin: 3px;
  background-image: url('../../../assets/images/multi-checked.svg');
}

.hidden {
  visibility: hidden;
}

.labelText {
  display: flex;
  text-align: center;
  white-space: nowrap;
  flex: 1;
  align-items: center;
}

.labelText > svg {
  margin: 0 0.75rem;
  height: var(--checkboxHeight, 26px);
  width: var(--checkboxHeight, 26px);
}

.errorMsg {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--red);
}

.noCheckIcon .input {
  display: none;
}

.singleSelectUi {
  color: var(--noteGrey);
  font-size: 1.6rem;
}

.checkbox:disabled + .singleSelectUi {
  color: var(--mediumGrey);
}

.checkbox:not(:disabled) + .singleSelectUi.isSelected {
  background: var(--mildGrey);
  color: var(--black);
}
