[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
Flask = "*"
Flask-Cors = "*"
Flask-Sockets = "*"
gevent-websocket = "*"
pitopcommon = "*"
pywifi = "*"
websockets = "*"

[dev-packages]
pytest = "*"
testpath = "*"
pytest-mock = "*"
pytest-cov = "*"
importlib-metadata = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
