.banner {
  height: 70vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
}

.keyboardSelectContainer {
  width: 100%;
  position: relative;
}

.checkbox {
  position: absolute;
  left: 100%;
  top: 5px;
  display: flex;
  align-items: center;
  --checkboxFontSize: 16px;
  --checkboxHeight: 24px;
}

.message {
  composes: text from '../../globalStyles/Typography.module.css';
  color: var(--green);
  font-size: 16px;
  margin: 40px auto 10px 5px;
}

.subMessage {
  color: var(--font80);
  font-size: 12px;
}

.testInput {
  width: 100%;
  height: auto;
}

.settingIndicator {
  position: absolute;
  left: calc(100% + 10px);
  top: 0;
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 200px;
}

.settingMessage {
  composes: text from '../../globalStyles/Typography.module.css';
  color: var(--green);
  font-size: 16px;
  padding: 5px 10px;
}
