graft pt_os_web_portal

prune pt_os_web_portal/frontend
graft pt_os_web_portal/frontend/build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
recursive-exclude * .DS_Store
recursive-exclude * .ropeproject
