.banner {
  height: 70vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
  font-size: 16px;
}

.progress {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  color: var(--green);
}

.message {
  composes: text from '../../globalStyles/Typography.module.css';
  padding: 20px;
  font-size: 16px;
  color: var(--green);
  overflow: hidden;
  max-height: 10vh;
}

.checkbox {
  --checkboxFontSize: 14px;
  --checkboxHeight: 24px;
}

.checkbox > label {
  color: var(--textColour, var(--font));
  font-style: normal;
}
