.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: -webkit-fill-available;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  height: var(--bannerHeight, 50vh);
  position: relative;
}

.bannerImage {
  height: calc(100% - var(--promptFontSize, 26px) - 20px) /* top container - prompt font - prompt padding  */
}

.prompt {
  composes: text from '../../globalStyles/Typography.module.css';
  line-height: 1;
  font-size: var(--promptFontSize, 22px);
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0;
}

.explanation {
  composes: text from '../../globalStyles/Typography.module.css';
  color: var(--font80);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  flex: 1;
  height: auto;
  width: var(--contentWidth, 40vw);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.buttons {
  flex: 1 1 auto;
  width: 100%;
  margin-top: auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.backButtonContainer {
  flex: 1;
  display: flex;
}

.skipButtonContainer {
  flex: 1;
  display: flex;
}

.backButton {
  color: var(--green);
  margin-right: auto;
  height: 28px;
}

.skipButton {
  color: var(--green);
  margin-left: auto;
  height: 28px;
}

@media screen and (max-height: 480px) {
  .bannerImage {
    display: none !important;
  }

  .banner {
    margin-top: 60px;
    height: min-content;
  }
}
