[Desktop Entry]
Type=Application
Name=pi-topOS Tour
Name[en_GB]=pi-topOS Tour
GenericName=pi-topOS Tour
GenericName[en_GB]=pi-topOS Tour
Comment=pi-topOS Tour
Comment[en_GB]=pi-topOS Tour
Icon=pt-os-about
Exec=pt-os-tour
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
