.privacyDialog {
  max-width: 812px;
  min-height: 540px;
  width: 95vw;
}

.dialogTitle {
  margin: -15px 0 0 0;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: -45px;
}

.message {
  composes: text from '../../../globalStyles/Typography.module.css';
  margin: 0px 70px 30px 70px;
}

.termsContainer {
  margin-top: 3vh;
  max-height: 282px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid var(--font80);
  margin: 0 70px 30px 70px;
}

.actions {
  position: relative;
  width: min(calc(100% - 20px), 450px);
  margin-top: auto;
  display: flex;
  justify-content: center;
}
