.root {
  composes: text from '../../globalStyles/Typography.module.css';
  color: var(--font80);
  padding: 10px 10px 10px 10px;

}

.root h2 {
  color: var(--font);
}

.root li {
  margin: 8px 0;
}
