.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.frameContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.frame {
  min-width: 400px;
  min-height: 400px;
}

.actions {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.error {
  composes: fontError from '../../../globalStyles/Typography.module.css';
  font-size: 14px;
}

.errorContainer {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
