.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.root img {
  transition: opacity 200ms ease-out;
  user-select: none;
}

.root.oversized {
  justify-content: initial;
}

.image {
  object-fit: contain;
  flex: 0 0 auto;
}

.oversized.image {
  margin-left: 50%;
  transform: translateX(-50%);
}
