[Desktop Entry]
Version=1.0
Type=Application
Exec=pt-os-web-portal-frontend updater
Icon=system-software-update
Terminal=false
Name=pi-topOS Updater Tool
Keywords=pi-topOS;system;update;upgrade;software;apt-get;
Comment=Check For Updates To Keep Your System Up-To-Date
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=System;
