[Desktop Entry]
Version=1.0
Type=Application
Exec=web-renderer --window-title "pi-topOS Updater Tool" --size 0.7x0.7 --icon /usr/share/icons/Papirus/24x24/apps/system-software-update.svg http://localhost/updater
Icon=system-software-update
Terminal=false
Name=pi-topOS Updater Tool
Keywords=pi-topOS;system;update;upgrade;software;apt-get;
Comment=Check For Updates To Keep Your System Up-To-Date
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=System;
