Source: pi-topos-web-portal
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
 npm,
Standards-Version: 4.5.1
Homepage: https://pi-top.com/

Package: pt-os-web-portal
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
# "Roboto" font used in web app
 fonts-roboto-unhinted,
# Enable service
 further-link,
# Determine process ID using required port
 lsof,
# Needed to update the EEPROM
 pt-os-notify-services,
 python3-flask,
 python3-flask-cors,
 python3-flask-sockets,
 python3-gevent,
 python3-gevent-websocket,
# Used for PTLogger
 python3-pitop,
 python3-waitress,
 python3-websockets,
# Required for openbox xdg autostart
  python3-xdg,
 raspi-config,
 rsync,
Description: pi-topOS Web Portal
 pi-topOS's web portal. Provides means to interact and configure the device
 over a web application.

Package: pt-os-web-portal-desktop
Architecture: all
Depends:
 ${misc:Depends},
 pt-os-web-portal,
 web-renderer,
Breaks:
 piwiz,
Replaces:
 piwiz,
Conflicts:
 piwiz,
Description: pi-top Web Portal - Desktop management
 This package primarily adds desktop files for accessing
 useful pages of the web portal from the Linux desktop.
 This includes handling of the initial onboarding of pi-topOS
 as well as additional apps such as 'about' and 'settings'.
