[Unit]
Description=pi-topOS Web Server
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Restart=on-failure
RestartSec=0
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/bin/pt-os-web-portal

[Install]
WantedBy=multi-user.target
