[Unit]
Description=pi-topOS Web Server
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
RestartSec=0
Environment="DISPLAY=:0.0"
ExecStart=/usr/lib/pt-os-web-portal/notify/notify-on-port-busy.sh
KillMode=process

[Install]
WantedBy=multi-user.target
