[Unit]
Description=pi-topOS wpa_gui over VNC
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Restart=no
ExecStart=DISPLAY=:2 wpa_gui
ExecStart=/usr/bin/web-vnc start --display_id 2 --window_title 'wpa_gui'
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
