[Unit]
Description=pi-topOS wpa_gui over VNC
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
RemainAfterExit=yes
Restart=no
ExecStart=/usr/bin/pt-web-vnc start --display_id 99 --run "wpa_gui" --height 700 --width 600 --with-window-manager
ExecStop=/usr/bin/pt-web-vnc stop --display_id 99

[Install]
WantedBy=multi-user.target
