#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd src/frontend/onboarding && \
		npm install && \
		node_modules/react-scripts/bin/react-scripts.js build && \
		mkdir -p ../../server/backend/pages && \
		mv build ../../server/backend/pages/onboarding

	dh_auto_build

override_dh_clean:
	rm -rf src/server/onboarding/build
	dh_clean

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start --name=pt-device-registration
	dh_installsystemd --restart-after-upgrade --name=pt-web-portal
