#!/usr/bin/make -f

export PYBUILD_NAME=pt_os_web_portal

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	cd src/frontend/ && \
		npm config set prefix ~/.local && \
		npm install -g yarn && \
		~/.local/bin/yarn install && \
		node_modules/react-scripts/bin/react-scripts.js build && \
		mv build ../server/backend/

	dh_auto_build

override_dh_clean:
	rm -rf src/frontend/node_modules src/server/onboarding/build src/server/backend/build
	dh_clean

override_dh_installsystemd:
	dh_installsystemd --no-stop-on-upgrade --name=pt-os-web-portal
	dh_installsystemd --no-enable --no-start --name=pt-os-web-portal-port-busy
