.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  max-height: 25vh;
}

.prompt {
  composes: text from '../../globalStyles/Typography.module.css';
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 20px;
  margin: 0;
}

.bannerStack {
  max-height: var(--bannerHeight, 50vh);
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1 1;

  max-width: 389px;

  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width:320px) {
  .bannerCoverImage {
    display: none;
  }
}

.banner {
  position: relative;
  display: block;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 20px;
}


.bannerImage {

}

.bannerCover {
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  top: 0;
}

.bannerCoverImage {

}

.bannerTitle {
  composes: text from '../../globalStyles/Typography.module.css';
  color: #636363;
  line-height: 1;
  font-weight: normal;
  font-size: 16px;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 30px 0 20px 0;
}

.explanationDiv {
  width: 80%;
}

.explanation {
  composes: text from '../../globalStyles/Typography.module.css';
  color: #636363;
  font-size: 12px;
  text-align: center;
  display: block;
  width: 100%;
  overflow: hidden;
}


.content {
  flex: 1;
  min-height: 20vh;
  width: var(--contentWidth, 80vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display:block;
}

.children {
  min-height: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  display:flex;
  align-items: center;

}

.buttons {
  width: 100%;
  position: relative;
  bottom: -10%;
  display: flex;
  justify-content: center;
}
