.banner {
  height: 70vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
}

.buttonContainer {
  position: relative;
}

.bold {
  font-weight: bold;
}

.linkButton {
  color: var(--black);
  font-weight: bold;
  font-size: 12px;
}

.linkButton:disabled {
  color: var(--green40);
}

.message {
  font-size: 12px;
  composes: text from '../../globalStyles/Typography.module.css';
  margin: 40px 0 10px 0;
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: center
}

.furtherButton {
  color: var(--green);
  background-color: var(--white);
}

.furtherButton:hover:enabled {
  color: var(--white);
  background-color: var(--green);
}
