.banner {
  height: 70vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
}

.buttonContainer {
  position: relative;
}

.bold {
  font-weight: bold;
}

.linkButton {
  color: var(--black);
  font-weight: bold;
  font-size: 14px;
  background: transparent url('../../assets/images/link-button-background.svg') 0% 0% no-repeat padding-box;
  background-position: bottom;
  background-repeat: repeat-x;
  border-bottom: 2px solid #00AD9F;
}

.linkButton:disabled {
  color: #636363;
}

.message {
  font-size: 14px;
  composes: text from '../../globalStyles/Typography.module.css';
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: center;
}

.furtherButton {
  color: var(--green);
  background-color: var(--white);
}

.furtherButton:hover:enabled {
  color: var(--white);
  background-color: var(--green);
}

.furtherButton:disabled {
  color: #ccefec;
  background-color: var(--white);
}
