.banner {
  height: 70vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
}

.buttonContainer {
  position: relative;
}

.linkButton {
  color: var(--green);
  margin: auto;
  height: 50px;
  position: relative;
}

.linkButton:disabled {
  color: var(--green40);
}


.spinnerSpan {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
  left: calc(100% + 20px);
  top: 0;
}
