.header {
  align-items: center;
  background-image: url('../../assets/images/header-background.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.logoContainer {
  align-self: stretch;
  width: 100%;
  min-height: 80px;
}

.logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 100%;
  height: 40px;
  background-image: url('../../assets/images/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}


.closeButtonDiv {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
}

.closeButton {
  background-color: #505050;
  min-width: 53px;
}

.closeButton:hover:enabled {
  background-color: #00AD9F;
}
