.banner {
  height: 70vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
}

.progress {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  color: var(--green);
}

.message {
  composes: text from '../../globalStyles/Typography.module.css';
  padding: 20px;
  font-size: 16px;
  color: var(--green);
  overflow: hidden;
  max-height: 10vh;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
  font-size: 18px;
}

.osUpgradeWarning {
  color: var(--red, red);
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}
