.header {
  background-image: url('../../assets/images/header-background.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  max-width: 80%;
  min-height: 80px;
  padding: 30px 0 0 30px;
}

h1 {
  margin: 0;
}

.closeButtonDiv {
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 43px;
}

.closeButton {
  background-color: #505050;
}

.closeButton:hover:enabled {
  background-color: #00AD9F;
}
