.root {
  --bannerHeight: 50vh;
}

.hidden {
  display: none;
}

.input {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.checkbox {
  margin-right: auto;

  --checkboxFontSize: 16px;
  --checkboxHeight: 24px;
}

.checkbox > label {
  color: var(--green);
  font-style: normal;
}

.error {
  composes: fontError from '../../globalStyles/Typography.module.css';
}

.message {
  composes: text from '../../globalStyles/Typography.module.css';
  margin-right: auto;
  margin-top: 10px;
}

.privacyPolicyButton {
  color: var(--green);
  font-weight: normal;
  font-size: 16px;
}
