[Desktop Entry]
Version=1.0
Type=Application
Exec=web-renderer --window-title "About pi-topOS" --size 0.28x0.36 --icon /usr/share/icons/hicolor/scalable/apps/pt-about.svg http://localhost/about
Icon=pt-about
Terminal=false
Name=About pi-topOS
Keywords=pi-topOS;system;about;information;info
Comment=Show information about this operating system
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Help;
