[Desktop Entry]
Type=Application
Name=pi-topOS Tour
Name[en_GB]=pi-topOS Tour
GenericName=pi-topOS Tour
GenericName[en_GB]=pi-topOS Tour
Comment=pi-topOS Tour
Comment[en_GB]=pi-topOS Tour
Icon=pt-tour
Exec=web-renderer --hide-frame --size 0.55x0.65 --icon /usr/share/icons/hicolor/scalable/apps/pt-help.svg --window-title "pi-topOS Tour" http://localhost/tour 
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
